{
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "@typescript-eslint/no-explicit-any": 0
    },
    "extends": [
        "plugin:@typescript-eslint/recommended"
    ]
}